<h2>All Messages</h2>
<h5><a href="/messages/new">Add a new message</a></h5>
<% if @messages.any? %>
  <ul>
    <% @messages.each do |message| %>
      <li><a href="/messages/<%= message.id %>"><%= "#{message.user}: #{message.title}" %></a></li>
    <% end %>
  </ul>
<% else %> 
  <p>There are currently no posts to display.</p>
<% end %>