<h2>New Message</h2>

<form action="/messages" method="post">
  <div class="form-group">
    <input id="user" name="user" class="form-control" type="text" placeholder="Name">
  </div>
   <div class="form-group">
    <input id="title" name="title" class="form-control" type="text" placeholder="Title">
  </div>
  <div class="form-group">
    <textarea id="user_post" name="user_post" class="form-control" placeholder="Message" rows="15" maxlength="500"></textarea>
  </div>
  <button class="btn" type="submit">Post</button>
</form>
